<ion-header [translucent]="true" ion-header class="ion-text-center">
  <ion-toolbar color="primary">
    <ion-title>
      Integrantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let item of equipo">
      <ion-avatar slot="start">
        <!-- Muestra las fotos de los integrantes del equipo-->
        <img src={{item.img}} alt="X">
      </ion-avatar>
      <ion-label>
<!-- Muestra el nombre de los integrantes del equipo-->
        <h3>{{item.name}}</h3>
        <!-- Muestra la matricula de los integrantes del equipo-->
        <p>{{item.id}}</p>
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>
