<ion-header [translucent]="true" ion-header class="ion-text-center">
  <ion-toolbar color="tertiary">

    <!--<ion-buttons slot="start">
      <ion-back-button defaultHref="/tab3"></ion-back-button>
    </ion-buttons>-->

    <ion-title>
      Mi perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="light">
  <div class="img-wrapper">
     <!-- En el caso de que la foto no esté vacia, muestra la foto que ingresó el usuario dado -->
    <img *ngIf="this.photo.getPhoto() != undefined" src={{this.photo.getPhoto().webviewPath}}>
    <ion-button color="light">
    </ion-button>
  </div>
  <ion-card-content class="ion-text-center">
    <!-- Se muestran tanto el email del usuario -->
    <h2>{{this.email}}</h2>
    <ion-text color="medium">
      <div style="display: flex;" class="ion-justify-content-center">
        <ion-icon name="location-outline" color="medium">
        </ion-icon>

        <!-- Se muestra la latitd y longitud del usuario  -->
        <p>Lat : {{this.geo.lat}} Lng: {{this.geo.lng}} </p>
      </div>
    </ion-text>
  </ion-card-content>
  </ion-card>
  <ion-button (click)="onLogOut()" expand="full" shape="round">
    <ion-label>Cerrar Sesion</ion-label>
    <ion-icon name="exit-outline" slot="end"></ion-icon>
  </ion-button>
</ion-content>
