<ion-header>
  <ion-toolbar color="primary">
  <!-- Boton de regreso -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding ion-text-center">
  <p>¡Únete para combatir el crimen!</p>

  <!-- Formulario para registrar al nuevo usuario -->
  <form novalidate [formGroup]="formsGroup" (ngSubmit)="register()">
    <ion-list>
      <!-- Ingresar un email, contraseña y una foto -->
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" formControlName="mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="pass"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Foto</ion-label>
        <!-- Boton para ingresar una foto -->
        <ion-input type="button" (click)="photo()"></ion-input>
        <ion-img *ngIf='this.captured != undefined' [src]='this.captured.webPath'></ion-img>
      </ion-item>
    </ion-list>
    <p></p>
    <!-- Boton de submit -->
    <div class="col">
      <ion-button type="submit" [disabled]="!formsGroup.valid">Enviar</ion-button>
    </div>
    <p></p>

    <p>¡Gracias por confiar en nosotros!</p>
  </form>
</ion-content>
